<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.oluwatomilayo.learnyoruba">

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/oduduwa_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/oduduwa_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".NumbersActivity"
            android:icon="@drawable/oduduwa"
            android:label="@string/category_numbers"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FamilyActivity"
            android:label="@string/category_family"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ColorsActivity"
            android:label="@string/category_family"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/category_phrases"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ThingsActivity"
            android:label="@string/category_things"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".MonthsActivity"
            android:label="@string/category_months"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>